KC_VERSION=26.2.3
# The link that will be used by the Grafana to redirect to the Keycloak
KC_HOSTNAME=auth.redss.local
KC_PORT=8080
KC_REALM_NAME=redss
KC_CLIENT=redss
KC_LOG_LEVEL=INFO
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=keycloak
POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=password

BIND_ADDRESS=127.0.1.1
